<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type= "text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}"/>
    <title>Main</title>
</head>
<body>
    <div id='menu'>
		<ul class="menu">
			<li class="subject">
				<a>Create new</a>
				<a href="/create/chapter">Chapter</a>
                <a href="/create/preference">Preference</a>
                <a href="/create/recipe">Recipe</a>
				<a href="/create/ingredient">Ingredient</a>
			</li>
            <li class="change-info">
				<a>Change</a>
				<a href="{{ url_for('index') }}">Chapter</a>
                <a href="{{ url_for('index') }}">Preference</a>
                <a href="{{ url_for('index') }}">Recipe</a>
				<a href="{{ url_for('index') }}">Ingredient</a>
			</li>
            <li class="cross">
				<a>Delete</a>
				<a href="{{ url_for('index') }}">Chapter</a>
                <a href="{{ url_for('index') }}">Preference</a>
                <a href="{{ url_for('index') }}">Recipe</a>
				<a href="{{ url_for('index') }}">Ingredient</a>
			</li>
		</ul>
	</div>
    {% block form %}{% endblock %}

</body>
</html>