{% extends "base.html" %}

{% block form %}
<h1>RECIPES</h1><br>
<table class="recipe">
<tr><th>ID</th><th>Name</th><th>Source</th><th>Time</th><th>Level</th><th>Calorific</th><th>Text</th><th>Chapter</th>
    <th>Ingredient</th><th>Preference</th></tr>
{% for recipe in contents_dict["recipe"] %}
    <tr>
        {% for item in recipe %}
            <td>{{ item }}</td>
        {% endfor %}
        <td class="after-bt"><a href="{{ url_for('change', changing=recipe.id, chtype='recipe') }}">Change</a></td>
        <td class="after-bt"><a href="{{ url_for('delete', deleting=recipe.id, chtype='recipe') }}">Delete</a></td>
    </tr>
{% endfor %}
</table>

<h1>CHAPTERS</h1><br>
<table class="chapter">
<tr><th>ID</th><th>Name</th><th>Recipes</th>
{% for chapter in contents_dict["chapter"] %}
    <tr>
        {% for item in chapter %}
            <td>{{ item }}</td>
        {% endfor %}
        <td class="after-bt"><a href="{{ url_for('change', changing=chapter.id, chtype='chapter') }}">Change</a></td>
        <td class="after-bt"><a href="{{ url_for('delete', deleting=chapter.id, chtype='chapter') }}">Delete</a></td>
    </tr>
{% endfor %}
</table>

<h1>PREFERENCES</h1><br>
<table class="preference">
<tr><th>ID</th><th>Name</th><th>Recipes</th>
{% for preference in contents_dict["preference"] %}
    <tr>
        {% for item in preference %}
            <td>{{ item }}</td>
        {% endfor %}
        <td class="after-bt"><a href="{{ url_for('change', changing=preference.id, chtype='preference') }}">Change</a></td>
        <td class="after-bt"><a href="{{ url_for('delete', deleting=preference.id, chtype='preference') }}">Delete</a></td>
    </tr>
{% endfor %}
</table>

<h1>INGREDIENTS</h1><br>
<table class="ingredient">
<tr><th>ID</th><th>Name</th><th>Recipes</th>
{% for ingredient in contents_dict["ingredient"] %}
    <tr>
        {% for item in ingredient %}
            <td>{{ item }}</td>
        {% endfor %}
        <td class="after-bt"><a href="{{ url_for('change', changing=ingredient.id, chtype='ingredient') }}">Change</a></td>
        <td class="after-bt"><a href="{{ url_for('delete', deleting=ingredient.id, chtype='ingredient') }}">Delete</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}